@use "reset";
@use "variables/global";

body {
    font-family: var(--font-family-main);
    background: var(--bg-color);
    color: var(--color-black);
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.content-page {
    flex-grow: 1;

}

.container {
    width: var(--container-width);
    margin: 0 auto;

    @media screen and (min-width: 1921px) {
        max-width: 1540px;
    }
}

.title {
    font: var(--font-L);
    font-weight: 700;
}

.description {
    font: var(--font-S);
    font-weight: 400;
    color: var(--color-des-black);
}

.overlay {
    position: absolute;
    transition: all 0.3s ease;
}