.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0;

    &>div {
        flex: 0 1 45%;

        &.boxText {
            & h2 {
                color: var(--secondary-color);
                margin-bottom: 35px;
            }
        }

        &.HowItWorksImg {
            & svg {
                width: 100%;
                height: auto;
            }
        }
    }
}