.card {
    display: flex;
    gap: 30px;
    background: #f5f7ff86;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;

    & .box_img {
        flex: 0 1 30%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .card_content {
        flex-grow: 1;
        padding: 25px;

        & .description {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 15px;

            & li {
                color: var(--color-des-black);
                font-size: 18px;
                font-weight: 400;
            }
        }

        & h2 {
            color: var(--color-black);
            font: var(--font-M);
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 15px;
        }

        & .bottom_box {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            & .price {
                font: var(--font-M);
                font-size: 25px;
                font-weight: 700;
                color: var(--secondary-color);
            }

            & .data {
                font: var(--font-S);
                color: var(--color-des-black);

                & span {
                    color: var(--color-black);

                }
            }
        }
    }
}