.Footer {
    background: var(--secondary-color);
    padding: 55px 0 0;
    text-align: center;
    margin-top: 7%;

    & .logo {
        color: var(--color-white);
        font: var(--font-L);
        font-weight: 700;
        margin-bottom: 70px;
    }

    & .copyright {
        padding: 35px 0;
        border-top: solid 1px var(--bg-secondary-color);

        & p {
            color: var(--color-white);
            font: var(--font-S);
            font-weight: 400;
        }


    }

}