.inputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(150, 150, 150);
    background: var(--color-white);
    padding: 0 20px;

    & .Input {
        width: 100%;
        padding: 20px 0;
        font: var(--font-S);
        font-size: 18px;
        color: rgb(87, 87, 87);
    }

    & .iconWrapper {
        right: 15px;
        pointer-events: none;
        width: 20px;
        height: 20px;
    }
}