.FilterProduct {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    background-color: var(--bg-secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    & .search {
        margin-bottom: 20px;
    }

    & .box {
        display: flex;
        justify-content: space-between;
        gap: 10px;

    }

    & .label {
        font: var(--font-S);
        font-size: 18px;
        color: var(--color-description);
    }
}