.Filters {
    position: sticky;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 16px 50px;
    background-color: var(--bg-secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    & .box_category {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        & a {
            padding: 10px 30px;
            background: var(--secondary-color);
            color: var(--color-white);
            font: var(--font-S);
            font-size: 15px;
        }
    }

    & .line {
        width: 100%;
        height: 1px;
        background: rgb(150, 150, 150);
    }

    & .search {
        margin-bottom: 20px;
    }

    & .box {
        display: flex;
        justify-content: space-between;
        gap: 10px;

    }

    & .label {
        width: 100%;
        display: block;
        font: var(--font-S);
        font-size: 18px;
        color: var(--color-description);
    }

    & .btn_reset {
        background: transparent;
        font: var(--font-S);
        font-size: 18px;
        color: var(--color-description);
        margin: 0 auto;
        transition: .3s;

        &:hover {
            color: red;
        }
    }
}