.wrapper {
    margin-top: 80px;

    & .box_content {
        display: flex;
        justify-content: space-between;
        gap: 52px;
        margin-bottom: 50px;

        & .card {
            flex: 1 1 50%;

            &.box_img {
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &.box_detail {
                flex: 1 1 50%;
                background: #f8f9fb;
                padding: 1.5rem;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

                .title {
                    font: var(--font-M);
                    margin-bottom: 1rem;
                    color: #333;
                }

                .price {
                    font: var(--font-M);
                    font-size: 2rem;
                    color: var(--secondary-color);
                    font-weight: bold;
                    margin-bottom: 1.5rem;
                }

                .detailsList {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        font: var(--font-S);
                        font-size: 1rem;
                        margin-bottom: 0.5rem;
                        color: var(--color-des-black);
                    }
                }
            }
        }
    }

    & .descriptionSection {
        h3 {
            font: var(--font-M);
            margin-bottom: 1rem;
        }

        p {
            font: var(--font-S);
            font-size: 1rem;
            line-height: 1.5;
            color: var(--color-des-black);
        }
    }
}