// LightGallery 
.lg-backdrop {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: #d8cbc579;
}

.lg-outer .lg-thumb-outer {
    background: #16141379;
}

// swiper
.swiper-slide-thumb-active {
    border: 1px solid var(--secondary-color);

    & img {
        transition: 0.3s;
        border: 1px solid var(--secondary-color);
        transform: scale(0.95);
    }
}