.Swiper {
    width: 100%;

    & .SwiperHero {
        margin-bottom: 10px;

        & .SwiperSlide {
            height: 630px;

        }
    }
}

.SwiperSlide {
    height: 230px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}