.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0 0;

    &>div {
        flex: 0 1 45%;

        &.icons {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: 25px;

            & svg {
                flex: 0 1 25%;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.215);
            }
        }

        &.boxText {
            & h2 {
                color: var(--secondary-color);
                margin-bottom: 35px;
            }
        }
    }
}